body{
    background-color: #fdfdfd;
}

/* Este fundo é da navbar */
#img1{
    background-image: url('./img/img-fnd.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}

#explore{
    color: #c6d6f3;
}

.container-potencial{
    width: 100%;
    height: 500px;
    background-color: #031c1d;
}

.ctn-explicacao{
    width: 50%;
    height: 100%;
    padding: 20px;
}